* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;

  background-color: aqua;
  background: radial-gradient(ellipse 80% 80%, aqua, black);
}

.Main {
  position: fixed;
  display: flex;
  gap: 10px;
  padding: 20px;
  z-index: 20;
}
.im {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 30px white;
  border-radius: 2cm;
  transition: 2s;
}
.im:hover {
  box-shadow: 0 0 30px gold;
  cursor: pointer;
  transform: scale(1.1);
}
.CN {
  margin-top: 25px;
  white-space: nowrap;
  color: mintcream;
  text-shadow: 4px 2px 5px gainsboro;
  transition: 2s;
}
.CN:hover {
  color: gold;
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 4px 2px 5px skyblue;
}
nav ul li {
  float: left;
  white-space: nowrap;
}
.Navitam {
  height: 40px;
  text-decoration: none;
  padding: 15px 20px;
  color: rgb(255, 255, 255);
  border-radius: 3cm;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-weight: 500;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(200px);
  transition: 2s;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.329);
  font-weight: bolder;
}
.Navitam:hover {
  cursor: pointer;
  background-color: black;
}
.lis {
  transition: 2s;
}
.lis:hover {
  transform: translateY(20px);
}
.Manu {
  margin-top: 10px;
  padding: 20px 20px;
  margin-left: 550px;
}
.listmanu {
  list-style-type: none;
  gap: 10px;
  display: flex;
}

.Services {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.2);
  width: 1480px;
  height: 1294px;
  margin-top: 10%;
  margin-left: 20px;
  border-radius: 30px;
  border: 1px solid rgb(255, 255, 255, 0.4);
}
.ImageS {
  width: 100%;
  height: 100%;
}
.Image {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
}
.head1 {
  position: absolute;
  top: 5%;
  left: 48%;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: 30px;
  text-align: center;
}
.head2 {
  position: absolute;
  top: 10%;
  left: 32%;
  color: white;
  font-size: 40px;
  text-shadow: 3px 3px 2px black;
}
.head1:hover,
.head2:hover {
  color: aquamarine;
  transition: 2s ease;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
}
.icon {
  position: absolute;
  top: 5%;
  left: 44%;
  box-shadow: 2px 4px 2px white;
  border-radius: 20px;
  transition: 2s ease;
  width: 50px;
}
.icon:hover {
  transform: rotate(360deg);
}
.Alist {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20%;
  left: 9%;
}
.dlist {
  position: relative;
  width: 350px;
  height: 450px;
  background-color: rgba(255, 255, 255);
  margin: 30px;
  border-radius: 30px;
  display: inline-block;
  box-shadow: 3px 3px 2px black;
}
.imglist {
  width: 100%;
  height: 40%;
  opacity: 1;
  border-radius: 30px 30px 0px 0px;
}

.insidelogo {
  position: absolute;
  top: 25%;
  width: 30px;
  z-index: 10;
}
.insideimg {
  width: 120px;
  height: 120px;
  margin-left: 120px;
  margin-bottom: 40px;
  z-index: 2;
  border-radius: 50%;
  /*#2F5351*/
}
.ring {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top: 5px solid white;
  border-bottom: 5px solid black;
  border-left: 5px solid white;
  border-right: 5px solid black;
  animation: rotateBorder 2s linear infinite;
  z-index: 1;
  margin-left: 120px;
}
@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text {
  position: absolute;
  font-size: 18px;
  top: 250px;
  left: 10px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
.textp {
  position: absolute;
  font-size: 15px;
  top: 320px;
  text-align: center;
  font-weight: normal;
  padding: 20px;
}
@media (max-width: 600px) {
    html,
    body {
      overflow-x: hidden;
    }

    .Main {
      position: relative;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      text-align: center;
    }

    .im {
      width: 70px;
      height: 70px;
    }

    .CN {
      font-size: 20px;
      margin-top: 5px;
    }

    .Manu {
      margin-left: 0;
      padding: 0;
    }

    .listmanu {
      margin-top: 40px;
      margin-left: 28px;
      gap: 15px;
      text-align: center;
    }

    .Navitam {
      font-size: 10px;
      padding: 9px 10px;
    }

    /* SERVICES BOX */
    .Services {
      width: 95%;
      margin-left: 2.5%;
      margin-top: 15%;
      height: 2100px;
    }

    .head1 {
      top: 2.3%;
      left: 43%;
      font-size: 20px;
    }

    .head2 {
      top: 6%;
      left: 12%;
      font-size: 19px;
    }

    .icon {
      top: 2%;
      left: 30%;
      width: 35px;
    }

    /* SERVICE LIST CARDS */
    .Alist {
      top: 10%;
      left: 0%;
      width: 100%;
      text-align: center;
    }

    .dlist {
      width: 90%;
      height: auto;
      margin: 30px auto;
      display: block;
    }

    .imglist {
      height: 180px;
    }

    .insideimg,
    .ring,
    .insidelogo {
      width: 50px;
      height: 50px;
      margin-left: 35%;
      margin-top: 40px;
    }

    .text {
      position: relative;
      top: 10px;
      font-size: 16px;
      padding: 10px;
    }

    .textp {
      position: relative;
      top: 0px;
      font-size: 14px;
      padding: 10px;
    }
  }

