
*
{
  margin: 0;
  padding: 0;
}
body
{
  background-image: url("/img/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  

}
.Main
{
  display: flex;
  gap: 10px;
  padding: 20px;
;

}
.im
{
  width: 100px;
  height: 100px;
  box-shadow: 0 0 30px white;
  border-radius: 2cm;
  transition: 2s;
}
.im:hover
{
  box-shadow: 0 0 30px cornflowerblue;
  cursor: pointer;
  transform: scale(1.1);
}
.CN
{
  margin-top: 25px;
  white-space: nowrap;
  color: mintcream;
  text-shadow: 4px 2px 5px gainsboro;
  transition: 2s;
}
.CN:hover
{
  color: aqua;
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 4px 2px 5px skyblue;
}
nav ul li
{
  float: left;
  white-space: nowrap;
  
}
.Navitam
{
  height: 40px;
  text-decoration: none;
  padding: 15px 20px;
  color:white;
  border-radius: 3cm;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: 500;
  
  
}
.Manu
{
  
  padding: 20px 20px;
  margin-left: 18cm;
  
}
.listmanu
{
  list-style-type: none;
  gap: 10px;
  display: flex;
}
