
*
{
  margin: 0;
  padding: 0;
}
body
{
  background-image: url("../img/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Main
{
  display: flex;
  gap: 10px;
  padding: 20px;

}
.im
{
  width: 100px;
  height: 100px;
  box-shadow: 0 0 30px white;
  border-radius: 2cm;
  transition: 2s;
}
.im:hover
{
  box-shadow: 0 0 30px gold;
  cursor: pointer;
  transform: scale(1.1);
}
.CN
{
  margin-top: 25px;
  white-space: nowrap;
  color: mintcream;
  text-shadow: 4px 2px 5px gainsboro;
  transition: 2s;
}
.CN:hover
{
  color:gold;
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 4px 2px 5px skyblue;
}
nav ul li
{
  float: left;
  white-space: nowrap;
  
}
.Navitam
{
  height: 40px;
  text-decoration: none;
  padding: 15px 20px;
  color:white;
  border-radius: 3cm;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: 500;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(200px);
  transition: 2s;
  
}
.Navitam:hover
{
  cursor: pointer;
  background-color: black;
}
.lis
{
  transition: 2s;
}
.lis:hover
{
  transform: translateY(20px);
}
.Manu
{
  
  padding: 20px 20px;
  margin-left: 18cm;
  
}
.listmanu
{
  list-style-type: none;
  gap: 10px;
  display: flex;
}
.detail
{
  display:inline-block;
  margin-top: 1cm;
  margin-left: 2cm;
  text-align: left;
  width:7cm;
  
}
.detail1
{
  
  display:inline-block;
  width:8cm;
  margin-top: 3cm;
  margin-left: 21cm;
  text-align: left;

}
span{
  color:rgba(255, 217, 0, 0.849);
  text-shadow: 2px 2px 8px black;
}
h3
{
  color:rgb(0, 0, 0);
  font-weight: 500px;
  font-size: 20px;
  padding: 10px;
  border-radius: 1cm;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-shadow: 2px 2px 5px floralwhite;
  transition: 2s;
  margin-top: 1cm;
}
h3:hover
{
  transform: scale(1.2);
}

.c
{
  display:flex;
}
.d1
{
  color: cyan;
}
.ratig
{
  margin-top: 1cm;
  padding: 20px 20px;
  align-items: center;
  width: 100%;
  height: 08cm;
  background: rgba(255, 255, 255, 0.1);
  border: 1px double rgba(255, 255, 255, 0.4);
}
.rm
{
 text-align: center;
 color:azure;
 text-shadow: 2px 1px 5px white;
}
.im3
{
  padding: 20px 50px;
  margin-left: 0.5cm;

}
