body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url('../img/Background 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.one
{
  text-align: center;
  margin-right: 38px;
  margin-top: 5px;
}

.my-img
{
 width: 15cm;
 height: 15cm;
 border-radius: 8cm;
 text-align: left 100cm;
 
}

.my-img:hover {
  transition: transform 8s ease-in-out;
  transform: rotate(360deg) scale(1.2);
}


