/* static/css/style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    background-image: url('../l.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: royalblue;
    font-size: 3cm;
    font-family: cursive;
    text-shadow: 2px 2px 8px white;
}